.centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    position: absolute;
    padding: 8px 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 20px lightblue;
}

.btn {
    width: 246px;
    height: 50px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    background: #7ac100;
    border: none;
    border-radius: 12px;
}

.popup {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 460px;
    height: 460px;
    padding: 50px;
    background-color: #c2f5ff;
    border-radius: 12px;
}

.header {
    width: 208px;
    height: 96px;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
